<script src="https://kit.fontawesome.com/9a416a1cca.js" crossorigin="anonymous"></script>

<input type="checkbox" name="" id="side-menu-switch">
<div class="side-menu">
    <nav>
        <a routerLink="home"><i class="fas fa-gavel"></i>Home</a>
        <a routerLink="dakota"><i class="fas fa-gavel"></i>About Dakota</a>
        <a routerLink="marcus"><i class="fas fa-gavel"></i>About Marcus</a>
        <a><i class="fas fa-gavel"></i></a>
    </nav>
    <label for="side-menu-switch" (click) = "sideLabelClicked()"></label>
</div>

